/* login.css */

.login-container {
  max-width: 400px;
  margin: 50px auto; /* Center vertically and horizontally */
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.checkboxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkbox-label {
  font-size: 16px;
}

.checkbox-label input {
  margin-right: 5px;
}

.login-button {
  padding: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-or {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  color: #666;
}

.login-signup-link {
  text-align: center;
  display: block;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}

.login-signup-link:hover {
  text-decoration: underline;
}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {
  .login-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
  }

  .login-title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .login-input {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .checkbox-label {
    font-size: 14px;
  }

  .login-button {
    padding: 12px;
    font-size: 14px;
  }

  .login-or {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .login-signup-link {
    font-size: 14px;
  }
}
