/* * {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
} */

header {
    width: 100%;
    height: 120px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0, 100px;
}



h7 {
    width: 20%;
    color: white;
}

.logo {
    width: 10%;
    font-size: 28px;
    font-weight: bold;
    color: aliceblue;
    margin-left: 5%;
}

.hamburger {
    width: 10%;
    display: none;
}

.hamburger .line{
    text-align: right;
}

.nav-bar1 ul {
    display: flex;
    padding: 0;
    padding-top: 50px;
}

.nav-bar1 ul li {
    padding-right: 0%;
    background-color: transparent;
}



.nav-bar1 {
    width: 70%;
    margin-right: 5%;
    background-color: transparent;
}

button{
    background-color: white;
}

.nav-bar1 ul li a {
    text-align: center;
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}

.button{
    background-color: white;
}

.nav-bar1 ul li a:hover {
    color: black;
    background: rgb(255, 255, 255);
}

.nav-bar1 ul li a.active {
    color: black;
    background: white;
}

.but-name{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}


@media only screen and (max-width:1320px) {
    header {
        padding: 0, 0px;
    }
}

@media only screen and (max-width:1100px) {
    header {
        padding: 0, 0px;
    }
}

@media only screen and (max-width:900px) {
    .hamburger {

        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;


    }

    .nav-bar1 {
        /* display: none; */
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        /* background: black; */
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar1.active {
        height: 450px;
    }

    .nav-bar1 ul {
        /* display: flex;
        flex-direction: column; */
        flex-direction: column;
        display: block;
        width: fit-content;
        margin: 0px;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
        padding-left: 20px;
    }

    .nav-bar1.active ul {
        opacity: 1;
    }


    .nav-bar1 ul li a {
        margin-bottom: 12px;
        color: red;
    }
}
/* .post {
    margin-bottom: 20px;
    padding-bottom: 5px;
} */

.post-sub{
    padding-bottom: 60px;
}