/* *{
    padding: 0;
    margin: 0;
  } */
  
  .top-content p{
    text-align: center;
    width: 100%;
    font-size: 40px;
    /* font-family: ; */
    padding-top: px;
    color: rgb(73, 70, 70);
  }
.span{
  color: blue;
  font-size: 3.5rem;
}
  .top-sub-content p{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    color: rgb(73, 70, 70);
  }
  
  .mid-container{
    display: flex;
  }
  
  .card-container1 {
    color: rgb(73, 70, 70);
    overflow-y: scroll; 
    height: 350px; 
  }

  .job-container{
    overflow-y: scroll; 
    height: 480px; 
  }
  .left-mid-container{
    width: 20%;
    margin-top: -30px;
    height: 400px;
    text-align: center;
    margin: 2px solid black;
    
  }
  
  .middle-mid-container1{
    width: 60%;
    height: 500px;
    color: rgb(73, 70, 70);
    text-align: center;
  }
  
  .right-mid-container{
    width: 20%;
    height: 500px;
    text-align: center;
  }
  
  .right-mid-container-content{
    padding-top: 20px;
    
  }
  .right-mid-container-content h1{
    color: black;
  }
  
