.footer {
    padding: 10px 10px 10px 10px;
    background-color: black;
    color: white;
    /* margin-top: 10%; */
    display: flex;
    justify-content: space-between;
  }
  
  .footer a {
    text-decoration: none;
    color: white;
  }
  
  .footer a:hover {
    color: #ea745f;
  }
  
  .footer i {
    margin-right: 5px;
  }
  
  .footer p {
    color: white;
    margin-top: 5px;
  }
  
  .footer .grid {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
  }
  
  .footer .grid a {
    color: white;
    font-size: 20px;
  }
  
  .footer .grid a:hover {
    color :#ea745f;
  }
  